//* Variables

// colors options
$nav-color: #273648; 
$main-bg: #f9f9f9;
$todo-bg: #ffffff;
$nav-link-text: #edf4fc;
$nav-link-bg-active: #4A90E2;
$title-text: #30394A;
$todo-text: #666666;
$input-border: #dddddd;
$select-item-text: #b5b5b5;


// text options
$body-font: 'dubai';
$text-alignment: right;
$text-base-color: #565656; 
$base-font-size: 18px;
$base-font-height: 30px;

// shadow options 
$default-shadow: 0 0 8px 0 rgba(0,0,0,0.04);