//global variables (style/_variables.scss)
@import 'variables';

// global style
body {
  font-family: $body-font;
  text-align: $text-alignment;
  direction: rtl;
  height: 100%;
  color: $text-base-color;
  font-size: $base-font-size;
  line-height: $base-font-height;
}

.body-wrapper{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: $main-bg;
  overflow-x: hidden;
}


// side navbar style (style/_sideNav.scss)
@import 'sideNav';

// add main page style (style/_mainPage.scss)
@import 'mainPage';