// TODO move vars to another file
//* Variables

// colors options
$nav-color: #273648; 
$main-bg: #f9f9f9;
$todo-bg: #ffffff;
$nav-link-text: #edf4fc;
$nav-link-bg-active: #4A90E2;
$title-text: #30394A;
$todo-text: #666666;
$input-border: #dddddd;
$select-item-text: #b5b5b5;


// text options
$body-font: 'dubai';
$text-alignment: right;
$text-base-color: #565656; 

// shadow options 
$default-shadow: 0 0 8px 0 rgba(0,0,0,0.04);

// global style
body {
  font-family: $body-font;
  text-align: $text-alignment;
  direction: rtl;
  height: 100%;
  color: $text-base-color;
}

.body-wrapper{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: $main-bg;
  overflow-x: hidden;
}


// side navbar style
@import 'sideNav';

// add main page style
@import 'mainPage';